<div class="well well-lg" id="show_content">
  <div class="panel panel-info" >
     <div class="panel-heading">Candidate full details</div>
      <div class="pannel-body">
        <table class="table table-hover">
            <tbody>
              <tr><td><strong>Candidate Name</strong></td><td><%=@show_resume.candidate_name%></td></tr>
              <tr><td><strong>Martial Status</strong></td><td><%=@show_resume.martial_status%></td></tr>
              <tr><td><strong>Phone Number</strong></td><td><%=@show_resume.phone%></td></tr>
              <tr><td><strong>Email-ID</strong></td><td><%=@show_resume.email%></td></tr>
              <tr><td><strong>Location</strong></td><td><%=@show_resume.location%></td></tr>
              <tr><td><strong>Skills</strong></td><td><%=@show_resume.skills%></td></tr>
              <tr><td><strong>Current Status</strong></td><td><%=@show_resume.current_status%></td></tr>
              <tr><td><strong>Overall experience</strong></td><td><%=@show_resume.overall_experience%></td></tr>
              <tr><td><strong>Relavent experience</strong></td><td><%=@show_resume.relevant_experience%></td></tr>
              <tr><td><strong>Current CTC</strong></td><td><%=@show_resume.current_ctc%></td></tr>
              <tr><td><strong>Expected CTC</strong></td><td><%=@show_resume.expected_ctc%></td></tr>
              <tr><td><strong>Visa Status</strong></td><td><%=@show_resume.visa_status%></td></tr>
              <tr><td><strong>Visa Employer</strong></td><td><%=@show_resume.visa_emp%></td></tr>
              <tr><td><strong>Notice period</strong></td><td><%=@show_resume.notice_period%></td></tr>
              <tr><td><strong>Relocation willingness</strong></td><td><%=@show_resume.relocation%></td></tr>
              <tr><td><strong>Availablilty</strong></td><td><%=@show_resume.availablity%></td></tr>
              <tr><td><strong>Remarks</strong></td><td><%=@show_resume.remarks%></td></tr>
              <tr><td><strong>Submitted by</strong></td><td><%=@show_resume.submitted_by%></td></tr>
              <tr><td><strong>Source</strong></td><td><%=@show_resume.source%></td></tr>
            
              
            </tbody>
        </table>
      </div>
    </div>
</div>