<nav class="top-bar">
  <ul class="title-area">
        <li class="name">  <h1 style="color:white;margin-left:20%">DataRack</h1></li>
   </ul>

  </nav>

      <div class="row" style="margin-right:20%"><%= form_tag("/users/sign_out",:method => :delete) do%>
                        <input name="_method" type="hidden" value="delete">
                        <input class="tiny button alert" type="submit" value="logout">
        <%end%></div>
<div class="row">
  <div class="panel callout radius">
<%= form_for @filerack, :url => "/user/createfile", :html => { :multipart => true } do |form| %>
<%= form.file_field :datafile %>
<%= submit_tag("Upload!!!")%>
<% end %>
  </div>
</div>

<div class="row" id="fileTable">
  <%if @allfiles.nil?%>
  <div class="panel callout radius">
              <h5>No files to display!.</h5>
              <p>Please upload some files or no one in the group uploaded any files, So nothing to display here!.</p>
            </div>
  <%else%>
  <%@allfiles.each do |file|%>

    <div class="row" style="backgroundcolor=gray">
      <div class="large-5 columns"><span class="label"><%=file.datafile_file_name%></span></div>
      <div class="large-3 columns"><span class="label"><%=file.datafile_content_type%></span></div>
      <div class="large-2 columns"><span class="label"><%=file.datafile_file_size%></span></div>
      <div class="large-2 columns">
        
        <a href="<%=file.datafile.url%>" class="tiny button success">download</a></div>
    </div>

  <%end%>
  
  <%end%>
</div>
