<nav class="top-bar">
  <ul class="title-area">
        <li class="name">  <h1 style="color:white;margin-left:20%">DataRack</h1></li>
   </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-form"><%= form_tag("/users/sign_out",:method => :delete) do%>
                        <input  type="submit" class="button alert" value="Logout">
        <%end%>
        </li>
        <li class="divider"></li>
      <li class><a href="#">About us</a></li>
    </ul>
  </section>
</nav>


<div class="row">
       <div class="large-3 columns">
            <%= form_for @filerack,:url => "/user/createfile", :html => { :multipart => true } do |form| %>
                <%= form.file_field :datafile%>
                <%= submit_tag("Upload!!!")%>
            <% end %>
        </div>
  <div class="large-9  large-offset-1 clolumns">   
 <%if @allfiles.nil?%>
       <div class="panel callout radius">
             <h5>No files to display!.</h5>
              <p>Please upload some files or no one in the group uploaded any files, So nothing to display here!.</p>
            </div>
 <%else%>
      
   <%@allfiles.each do |file|%>
                  
                  <div class="row" >
                       <span class="label">
                         <%= file.datafile%>
                         </span>
                  </div>
            <%end%>
         
<%end%>
 </div>
  
