<nav  class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <img src="/assets/logo3.png" style="max-height: 80%; max-width: 80%;"  >
  </div>
  <%= form_tag("/users/sign_out",:method => :delete,:class=>"navbar-form navbar-right") do%>
                        <input  type="submit" class="btn btn-danger navbar-right" value="Logout">
        <%end%>
</nav>

 <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="well well-lg">    
                          <%= form_for @filerack,:url => "/user/createfile", :html => { :multipart => true } do |form| %>
                                <%= form.file_field :datafile%>
                                <input  type="submit" class="btn btn-success" value="Upload">
                          <% end %> 
                      </div>
              </div>
          </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
                  <div class="well well-lg"> 
                    <div class="row">
                      <div class="col-md-4">  <input id="file_uploader" type="file" name="user_files[]"class="btn btn-primary" multiple></div>
                      <div class="col-md-2  col-md-offset-2"> <button class="btn btn-success">Start upload<span class="glyphicon glyphicon-upload"></span></button></div>
                      <div class="col-md-2"> <button class="btn btn-danger">Cancel Upload<span class="glyphicon glyphicon-remove"></span></button></div>
                    </div>
                    <br/>
                    <div class="row" id="file_list">
                      <div class="col-md-2 col"></div>
                      <div class="col-md-6 col ">
                      <div class="pannel pannel-success">
                        <table class="table table-hover">
                          <tbody id="body_table">
                          </table>
                        </div></div></div>
                    
      </div><!-- well div for file upload-->
      </div><!-- class div for file upload-->
</div><!-- row div for file upload-->



<div class="row">
  <div class="col-md-10 col-md-offset-1">
<div class="panel panel-success">
  <div class="panel-heading"  ><button  id="public_files_open" type="button" class="btn btn-success">Public Files  <span class="glyphicon glyphicon-chevron-down "></span></button></div>
  <%if @allfiles.count ==0 %>
  <div class="panel panel-danger"><h4>No Files To display</h4></div>
  <%else%>
  <table class="table table-hover">
    <thead><th>Name</th><th>Date</th><th>Email of User</th><th>Download?</th><th>Delete?</th></thead>
    <tbody>
        <% @allfiles.each do |file|%>
      <tr>
              <td><%= file.datafile_file_name%></td>
              <td><%=file.datafile_updated_at%></td>
              <td><%=current_user.email%></td>
             <td><a class="btn btn-primary btn-sm" href="<%=file.datafile.url%>"> Download <span class="glyphicon glyphicon-cloud-download"></span></a></td>
        <td><div class="file_delete" id="<%=file.id%>"><button type="button" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span></button></div></td>
        <tr>
        <%end%>
   </tbody>
    </table>
  <%end%>
</div>

  </div>
</div>
    
    
    
    


