<nav  class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <img src="/assets/logo3.png" style="max-height: 80%; max-width: 80%;"  >
  </div>
  <%= form_tag("/users/sign_out",:method => :delete,:class=>"navbar-form navbar-right") do%>
                        <input  type="submit" class="btn btn-danger navbar-right" value="Logout">
        <%end%>
</nav>
<!-- Page body Start-->
 <div class="row">
    <!-- Side bar Start-->
   <div class="col-md-2 ">
      <ul class="nav nav-pills nav-stacked" id="list_sidebar">
        <li id="db_sidebar" class="active"><a  href="/home">Candidates Database</a></li>
        <li id="form_sidebar"><a  href="/candidate_form">Upload form</a></li>
      </ul>
  </div>
  <!-- Side bar End-->              
   <!-- Well- starting!-->
   <div class="col-md-10">
     <div class="well well-lg" id="data_well"> 
       <div class="row">
         <div class="panel panel-info">
           <div class="panel-heading">
              <%=form_tag("/candidate/search",:remote=> true,:class=>"form-inline") do%>
              <%= search_field_tag :candidate_search,"",:class=>"form-group"%>
             <%= submit_tag :search,:class=>"btn btn-default btn-sm",:id=>"search_submit"%>
              <%end%>
           </div>
           <div id="results_pannel"></div>
           </div>
         </div>
       
       
        <div class="row">
          <div class="panel panel-success">
               <table class="table table-hover">
                   <div class="panel-heading">All Candidate Details </div>
                   <thead><tr>
                       <th>Name</th><th>Skills</th><th>Location</th><th>Expected CTC</th><th>Current CTC</th><th>Phone</th><th>Email</th><th>Notice Period</th><th>Resume Download</th><th>Delete</th>
                    </tr></thead>
          
                   <tbody>
                       <%@allresumes.each do |resume|%>
                         <tr>
                         <td><%= resume.candidate_name%></td><td><%= resume.skills%></td><td><%= resume.skills%></td><td><%= resume.skills%></td> <td><%= resume.expected_ctc%></td> <td><%= resume.phone%></td> <td><%= resume.email%></td> <td><%= resume.notice_period%></td> <td><%= resume.file_id%></td><td>DELETE</td>
                         </tr>
                       <%end%>
                   </tbody>
               </table>
      </div>
   </div>
  </div>
 </div>
   <!--Well- End -->
</div>
<!-- Page body End-->
    
    
    


